.wrapper {
  background-color: var(--color-gray);
  min-block-size: 100svh;
  color: white;
  padding-top: 8rem;
}
.innerWrapper {
  display: flex;
  flex-direction: column;
}
.innerWrapper h1 {
  font-size: 54px;
  font-weight: 600;
}
.team_div {
  padding: 0 5rem;
  display: flex;

  gap: 6rem;
}
